.button {
    background-color: $primary;
    border: none;
    outline: none;
    padding: map-get($map: $padding, $key: "md") map-get($map: $padding, $key: "lg");
    border-radius: map-get($map: $border-radius, $key: "sm");
    color: white;
    cursor: pointer;
    font-size: map-get($map: $font-size, $key: "md");
}

.effect_3D {
    box-shadow: 0 6px 0 $button-hover-color, 0 5px 15px -4px #000;
    transition: box-shadow 0.12s ease-in-out, margin-top 0.12s ease-in-out,
        opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.9;
        outline: none;
    }

    &:active {
        box-shadow: none;
        margin-top: 6px;
    }
}

.effect_ripple {
    overflow: hidden;
    position: relative;
}

.effect_bubbly {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba($button-hover-color, 0.5);

    &:focus {
        outline: none;
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
    }

    &::before {
        display: none;
        top: -75%;
        background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
            10% 10%, 18% 18%;
    }

    &::after {
        display: none;
        bottom: -75%;
        background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%),
            radial-gradient(circle, #ff0081 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    }

    &:active {
        transform: scale(0.9);
        background-color: $button-hover-color;
        box-shadow: 0 2px 25px rgba($button-hover-color, 0.5);
    }
}

:global {
    .bubbly-button.animate::before {
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
    }

    .bubbly-button.animate::after {
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
    }
}

@keyframes rippleEffect {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.ripple {
    position: absolute;
    display: block;
}

.ripple::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba($button-hover-color, 0.6);
    animation: rippleEffect 0.6s linear forwards;
    z-index: 100;
}
